{{- define "emit.constant" -}}
{{ renderDocs .Docs }}{{ exported . }}{{ $init := renderInit . }}{{ if not $init }}declare {{ end }}const {{ ident .Name }}{{ annotation .Type }}{{ $init }};
{{ end -}}
