{{- define "emit.enum" -}}
{{ renderDocs .Docs }}{{ exported . }}{{ constKw . }}enum {{ ident .Name }} {
{{- $variants := renderVariants . }}{{ if $variants }}
{{ indent $variants }}
{{- end }}
}
{{ end -}}
