{{- define "emit.function" -}}
{{ renderDocs .Docs }}{{ exported . }}declare function {{ ident .Name }}{{ renderTypeParams .TypeParams }}({{ renderParams .Params }}): {{ renderReturn .Returns }};
{{ end -}}
