{{- define "emit.function" -}}
{{ renderDocs .Docs }}{{ range overloadLines . }}{{ . }}
{{ else }}{{ exported . }}declare function {{ ident .Name }}{{ renderTypeParams .TypeParams }}({{ renderParams .Params }}): {{ renderReturn .Returns }};
{{ end }}{{ end -}}
